body {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar {
	margin-bottom: 20px;
	border-radius: 4px;
}

.disqus {
	margin-top: -10px;
}

.img-center {
	text-align: center;
}

.img-panel {
	display: inline-block;
}

.img-panel .panel-footer {
	text-align: left;
}